<?xml version="1.0"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the commercial license
 * that is bundled with this package in the file LICENSE.txt.
 *
 * @category Extait
 * @package Extait_WidgetsTransfer
 * @copyright Copyright (c) 2016-2018 Extait, Inc. (http://www.extait.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Extait_WidgetsTransfer::extait_widget_instance"
             title="Widgets Pro"
             translate="title"
             module="Extait_WidgetsTransfer"
             sortOrder="60"
             parent="Magento_Backend::content_elements"
             action="extait_widgets/widget/index"
             resource="Magento_Widget::widget_instance"/>
    </menu>
</config>
